{% extends 'base.html' %}

{% block content %}
	<h1>Welcome to the Asperger Self-Help Site!</h1>
	
	<p>On this website you will find resources to 
		help with every aspect of life with Asperger
		Syndrome/High functioning autism.</p>

	<table>
		<tr>
			<td><button>Daily Living</button></td>
			<td><button>Socializing</button></td>
			<td><button>Mental Health</button></td>
			<td><button>Productivity</button></td>
			<td><button>Special Interests</button></td>
		</tr>
		<tr>
			<td><button>Work</button></td>
			<td><button>Study</button></td>
			<td><button>Sensory Issues</button></td>
			<td><button>Relationships</button></td>
			<td><button>Personal Finance</button></td>
		</tr>
		</table>
{% endblock %}